<!DOCTYPE html>
<html>

<head>
    <title>Directories</title>
    <link rel="stylesheet" type="text/css" href="/directories_styles.css">
</head>

<body>
    <div class="container">
        <% directories.forEach(function(directory) { %>
            <a href="/directories/<%= directory %>">
                <div class="item">
                    <%= directory %>
                </div>
            </a>
            <% }); %>
    </div>
</body>

</html>