<!DOCTYPE html>
<html>

<head>
    <title>My Site</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <form action="/login" method="post">
        <div class="wrapper">
            <input type="text" name="username" class="input" required="required" />
            <label class="label">User name</label>
        </div>

        <div class="wrapper">
            <input type="password" name="password" class="input" required="required" />
            <label class="label">Password</label>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>